<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/loginModal.ejs') %>
    <%-include('../partials/header.ejs') %>
    <div class="row">
      <%-include('../partials/sideBar.ejs') %>
      <!-- ðŸ”¼ë©”ì¸-ì‚¬ì´ë“œ ë„¤ë¹„ -->
      <%- include('../partials/mainBoard.ejs') %>
    </div>
    <!-- í‘¸í„° -->
    <%-include('../partials/footer.ejs') %>
  </body>
  <%- include('../partials/scripts.ejs') %>
</html>
