<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/loginModal.ejs') %>
    <!--  -->
    <%- include('../partials/inviteModal.ejs') %>
    <!--  -->
    <%-include('../partials/header.ejs') %>
    <%-include('../partials/updateBoardModal.ejs') %>
    <%-include('../partials/notice.ejs') %>
    <div class="row">
      <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header"></div>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <%-include('../partials/boardInfoSideBar.ejs') %>
      <!-- ðŸ”¼ë©”ì¸-ì‚¬ì´ë“œ ë„¤ë¹„ -->
      <%- include('../partials/mainBoard.ejs') %>
      <!-- í‘¸í„° -->
    </div>
    <%-include('../partials/footer.ejs') %>
  </body>
  <%- include('../partials/scripts.ejs') %>
</html>
