<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="row">
      <%-include('../partials/sideBar.ejs') %>
      <!-- 메인-사이드 네비 -->
      <%- include('../partials/mainBoard.ejs') %>
    </div>
    <!-- 푸터 -->
    <%-include('../partials/footer.ejs') %>
  </body>
  <%- include('../partials/scripts.ejs') %>
</html>
