<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/loginModal.ejs') %>
    <%-include('../partials/header.ejs') %>
    <div class="row">
      <!-- ðŸ”¼ë©”ì¸-ì‚¬ì´ë“œ ë„¤ë¹„ -->
      <div class="col" style="margin: 0; padding: 0">
        <div class="userBackground justify-content-center">
          <div>
            <div class="userBoard container">
              <div class="row">
                <!-- íšŒì› ì •ë³´ ë°•ìŠ¤ -->
                <div class="userInfoBox col-2">
                  <%-include('../partials/infoBox.ejs') %>
                </div>
                <!-- ë³´ë“œ ë -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ë©”ì¸ -->
    </div>
    <!-- í‘¸í„° -->
    <%-include('../partials/footer.ejs') %>
  </body>
  <%- include('../partials/scripts.ejs') %>
  <%-include('../partials/axiosInfo.ejs') %>
</html>
