<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/reg.css" />
  <body>
    <%- include('../partials/loginModal.ejs') %>
    <%-include('../partials/notice.ejs') %>
    <!--  -->
    <%-include('../partials/header.ejs') %>
    <div class="row">
      <!-- ðŸ”¼ë©”ì¸-ì‚¬ì´ë“œ ë„¤ë¹„ -->
      <div class="col" style="margin: 0; padding: 0">
        <div class="userBackground justify-content-center">
          <div>
            <div class="userBoard container">
              <div class="userTitle text-center">ë‚´ ì •ë³´</div>
              <div class="row">
                <!-- íšŒì› ì •ë³´ ë°•ìŠ¤ -->
                <div class="userBox col-2"></div>
                <!-- ë³´ë“œ ë -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ë©”ì¸ -->
    </div>
    <!-- í‘¸í„° -->
    <%-include('../partials/footer.ejs') %>
  </body>
  <%- include('../partials/scripts.ejs') %>
</html>
