<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/reg.css" />
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="row">
      <!-- π”Όλ©”μΈ-μ‚¬μ΄λ“ λ„¤λΉ„ -->
      <div class="col" style="margin: 0; padding: 0">
        <div class="regBackgreound justify-content-center">
          <div>
            <div class="regBoard container">
              <div class="regTitle text-center">νμ›κ°€μ…</div>
              <div class="row">
                <!-- νμ›κ°€μ… λ°•μ¤ -->
                <div class="regBox col-2">
                  <%- include('../partials/regBox.ejs') %>
                </div>
                <!-- λ³΄λ“ λ -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- λ©”μΈ -->
    </div>
    <!-- ν‘Έν„° -->
    <%-include('../partials/footer.ejs') %>
  </body>
  <%- include('../partials/scripts.ejs') %>
</html>
