<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/loginModal.ejs') %>
    <%-include('../partials/header.ejs') %>
    <div class="row">
      <!-- 🔼메인-사이드 네비 -->
      <div class="col" style="margin: 0; padding: 0">
        <div class="userBackground justify-content-center">
          <div>
            <!-- ~~ 팀원소개 -->
            <div class="container text-center" style="width: 1080">
              <h1 class="mb-4 fw-bold text-body-emphasis">일광욕조</h1>
              <div class="row">
                <p style="font-size: 20px">
                  일광욕을 즐기는 사람들로 구성된 팀이 모여 만든 프로젝트는
                  창의력과 활기가 넘칩니다. 이들은 햇볕 아래에서 영감을 받고, 그
                  에너지를 프로젝트에 녹여냅니다. 각 구성원은 자신만의 독특한
                  경험과 전문성을 가지고 있으며, 이를 통해 프로젝트에 다채로운
                  색채를 더합니다. 일상에서의 작은 기쁨과 낭만을 추구하는
                  이들은, 기술적인 능력과 인간적인 감성을 조화롭게 결합하여
                  혁신적인 작업을 창출합니다. 이 팀은 함께 일광욕을 즐기면서
                  팀워크를 다지고, 즐거운 분위기 속에서 창의적인 아이디어를
                  발산합니다. 그들의 프로젝트는 이러한 긍정적인 에너지로 가득 차
                  있으며, 사용자에게도 그 기쁨을 전달합니다.
                </p>
              </div>
              <h2 class="text-body-secondary mb-3 mt-4">팀원 소개</h2>

              <br />
              <br />
              <div class="row mb-5">
                <div class="col text-center teamMember">
                  <img
                    class="rounded-circle"
                    width="200"
                    height="200"
                    src="/img/효진.png"
                  />
                  <h2 class="fw-normal mt-3">김효진</h2>
                  <p style="text-align: justify">
                    따뜻한 마음과 발랄한 에너지로 주변을 밝게 만드는 사람.
                    그녀의 사랑스러운 리더십은 모든 이를 매료시키며, 긍정적인
                    분위기를 조성합니다.
                  </p>
                  <p>
                    <a
                      class="btn btn-secondary"
                      href="https://velog.io/@jinee2021"
                      >깃허브 &raquo;</a
                    >
                  </p>
                </div>
                <div class="col text-center teamMember">
                  <img
                    class="rounded-circle"
                    width="200"
                    height="200"
                    src="/img/은지.png"
                  />
                  <h2 class="fw-normal mt-3">유은지</h2>
                  <p style="text-align: justify">
                    고양이처럼 우아하고 독립적인 매력과 동시에 강아지 같은
                    따뜻함과 도전적인 기질을 겸비한 인물입니다. 그녀는 상황에
                    따라 유연하게 변화하며, 친근하고 활발한 태도로 새로운 도전을
                    두려워하지 않습니다.
                  </p>
                  <p>
                    <a
                      class="btn btn-secondary"
                      href="https://gabojok.tistory.com/"
                      >깃허브 &raquo;</a
                    >
                  </p>
                </div>
                <div class="col text-center teamMember">
                  <img
                    class="rounded-circle"
                    width="200"
                    height="200"
                    src="/img/이진.png"
                  />
                  <h2 class="fw-normal mt-3">최이진</h2>
                  <p style="text-align: justify">
                    개발자가 되고싶은 디자인 집착자, VScode조차 알록달록합니다.
                  </p>
                  <p>
                    <a
                      class="btn btn-secondary"
                      href="https://velog.io/@leesin1040"
                      >깃허브 &raquo;</a
                    >
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col text-center teamMember">
                  <img
                    class="rounded-circle"
                    width="200"
                    height="200"
                    src="/img/재진_fix.png"
                  />
                  <h2 class="fw-normal mt-3">임재진</h2>
                  <p style="text-align: justify">
                    재치 넘치는 유머로 모든 이를 웃게 하고 신나는 분위기를
                    창조하는 진정한 분위기 메이커. 그의 존재만으로도 사람들은
                    활력을 얻고 즐거움이 넘쳐납니다.
                  </p>
                  <p>
                    <a
                      class="btn btn-secondary"
                      href="https://wowls9416.tistory.com/"
                      >깃허브 &raquo;</a
                    >
                  </p>
                </div>
                <div class="col text-center teamMember">
                  <img
                    class="rounded-circle"
                    width="200"
                    height="200"
                    src="/img/주완.png"
                  />
                  <h2 class="fw-normal mt-3">김주완</h2>
                  <p style="text-align: justify">
                    팀의 막내이지만 그 누구보다도 어른스러움과 침착함을 지닌
                    인물. 그의 특유의 '후후' 웃음소리는 모든 이를 즐겁게 하며,
                    그의 성숙함은 팀 내에서도 두드러집니다.
                  </p>
                  <p>
                    <a
                      class="btn btn-secondary"
                      href="https://columen2357.tistory.com/"
                      >깃허브 &raquo;</a
                    >
                  </p>
                </div>
              </div>
              <!-- row -->
            </div>
            <!-- ~~ 팀원소개 -->
          </div>
        </div>
      </div>
      <!-- 메인 -->
    </div>
    <!-- 푸터 -->
    <%-include('../partials/footer.ejs') %>
  </body>
  <%- include('../partials/scripts.ejs') %>
  <%-include('../partials/axiosInfo.ejs') %>
</html>
